<div class="container text-white" style="text-align: center; overflow: hidden; background-color:black;">
  <h1 style="font-size: 2.5rem; margin-top: 10px; font-weight: bold; ">This Is RestCountries Data</h1>


  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let country of countries">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title class="title">
              {{country.name | uppercase}}
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
              {{country.subregion}}
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="" src="{{ country.flag }}" alt="country flag of {{ country.name }}" />
          <mat-card-content>
            <p style="font-family: Calibri; font-size: medium; color: rgb(9, 118, 161);">
              <span style="color: red; font-size: 25px;">Capital: {{ country.capital }}</span><br />
              Country: {{ country.name }}<br />
              Population: {{ country.population }}<br />
              Languages:
              <span *ngFor="let language of country.languages; let i = last">{{ language.name }}{{ i ? "" : "," }}
              </span><br />
              Currencies:
              <span *ngFor="let currency of country.currencies; let i = last">{{ currency.name }}{{ i ? "" : "," }}
              </span>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>